name: Terraform Plan and Apply

on:
  push:
    branches:
      - main

jobs:
    terraform-plan-03:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout repository
          uses: actions/checkout@v4

        - name: Azure Login
          uses: azure/login@v2
          with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}
    
        - name: Set up Terraform
          uses: hashicorp/setup-terraform@v3
    
        - name: Terraform Init
          run: terraform init
    
        - name: Terraform Plan
          run: terraform plan -out=tfplan
        
        - name: Save Terraform Plan Artifact
          uses: actions/upload-artifact@v4
          with:
            name: terraform-plan-03
            path: tfplan
            retention-days: 5
    
    terraform-apply-03:
        needs: terraform-plan-03
        runs-on: ubuntu-latest
        
        steps:
        - name: Checkout repository
          uses: actions/checkout@v4

        - name: Azure Login
          uses: azure/login@v2
          with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}
    
        - name: Set up Terraform
          uses: hashicorp/setup-terraform@v3

        - name: Terraform Init
          run: terraform init
    
        - name: Download Terraform Plan Artifact
          uses: actions/download-artifact@v4
          with:
            name: terraform-plan-03
    
        - name: Terraform Apply
          run: terraform apply -auto-approve tfplan